footer.footer
  .footer__logo
    img(src='/img/triphive-logo.png' alt='TripHive logo')
  ul.footer__nav
    li: a(href='/aboutUs') About us
    li: a(href='/becomeGuide') Become a guide
    li: a(href='/contact') Contact
  p.footer__copyright &copy; by Mariya Stancheva