extends base

block content
  main.main.static
    div.static__container
        h2.heading-secondary.ma-bt-lg What We Do
        p At TripHive, we offer a wide variety of tours and trips to destinations all around the world. Our team is made up of travel experts who are committed to helping our customers plan the perfect itinerary for their dream vacation. We work with carefully selected tour operators and hotels to ensure that every aspect of your trip is of the highest quality.

        h2.heading-secondary.ma-bt-lg Why Choose Us
        p We understand that planning a trip can be stressful, which is why we are here to help every step of the way. Our team is dedicated to providing personalized service and ensuring that our customers have a seamless and enjoyable travel experience. We are constantly updating our offerings to include the latest and greatest travel experiences, so you can be sure that with TripHive, you are getting the best of the best.

        h2.heading-secondary.ma-bt-lg Get in Touch
        p We're always here to help with any questions or concerns you may have. Whether you're looking to book a tour, have a question about an existing booking, or just want to learn more about TripHive, we're happy to assist you.

        p To contact us, you can send us an email at info@triphive.com, call us at +1 (555) 123-4567, or reach out to us on our social media channels. We value your feedback and suggestions, so please don't hesitate to get in touch. We look forward to hearing from you!