extends base

block content
  main.main.static
    div.static__container
        h2.heading-secondary.ma-bt-lg Who We're Looking For
        p We are looking for guides who are passionate about travel and have a deep understanding of their destination. You should have excellent communication skills and be able to provide engaging and informative tours to our customers. Previous experience as a guide is preferred but not required.

        h2.heading-secondary.ma-bt-lg What We Offer
        p As a guide for TripHive, you will have the opportunity to share your love of travel with others and help them discover the world. We offer competitive compensation packages and the chance to work with a team of like-minded individuals who are dedicated to providing the best possible travel experiences for our customers.

        h2.heading-secondary.ma-bt-lg How to Apply
        p If you are interested in becoming a guide for TripHive, please send your resume and a cover letter to guides@triphive.com. In your cover letter, please tell us about your travel experience and why you would make a great guide for our customers.

        p We look forward to hearing from you and potentially welcoming you to our team of passionate travel experts!