extends base

block content
  main.main.static
    div.static__container
        p We're always here to help with any questions or concerns you may have. Whether you're looking to book a tour, have a question about an existing booking, or just want to learn more about TripHive, we're happy to assist you.
        div.contact_us__container
            h2 For general inquiries or feedback, please contact us at:
            ul
                li Email: info@company.com
                li Phone: +1 (555) 123-4567
                li Address: 123 Main St, City, State, Zip Code